:root {
  --bs-primary: #586D92; /* Primary Color */
  --bs-secondary: #D5E3E6; /* Secondary Color */
  --bs-neutral-light: #F0E2D2; /* Neutral Light Color */
  --bs-neutral-dark: #EFEFE5; /* Neutral Dark Color */
  --bs-accent: #D18266; /* Accent Color */
  --bs-text: #364042; /* Text Color */
}
body, html {
  overflow-x: hidden;
  background: linear-gradient(135deg, var(--bs-neutral-light) 0%, var(--bs-accent) 100%);
}

header.hero {
  height: 100vh;
  background: url('../assets/layered-waves-test.svg') no-repeat center center;
  background-size: cover;
  background-color: var(--bs-neutral-dark);
}

.panel {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
  background: linear-gradient(135deg, var(--bs-neutral-light) 0%, var(--bs-accent) 100%);
}
.panel:nth-child(2n) {
  background: linear-gradient(235deg, var(--bs-neutral-dark) 0%, var(--bs-neutral-light) 100%);
}

.panel:nth-child(3n) {
  background: linear-gradient(335deg, var(--bs-neutral-light) 0%, var(--bs-neutral-dark) 100%);
}
.projects-section{
  min-height: 100vh;
  padding: 40px;
  box-sizing: border-box;
}

.bento-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.bento-box-item {
  width: 40%;
  margin: 10px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: var(--bs-neutral-dark);
}

.bento-box-item i {
  font-size: 40px;
  margin-bottom: 10px;
  color: var(--bs-accent);
}
